.conta {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav0 {
    display: flex;
    flex-direction: row;
}

.firsth1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav1 {}

.ul1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;

}

.linav {}

.a1 {
    text-decoration: none;
    color: black;
}

.a1:hover {
    color: red;
}

.nav0 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 15vh;
    padding: 0%;
    align-items: center;
}

.line1 {
    position: relative;
    top: -4vh;
    height: 1vh;
    background-color: red;
    width: 3vw;
    border-radius: 10px;
}

.firstbtn {
    padding: 10px;
    border: none;
    color: red;
    background-color: rgb(233, 231, 231);
    box-shadow: 2px 2px 3px gray;
}

/* the main and the first section */
.conta1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.box1 {
    display: flex;
    flex-direction: column;

}

.btn2 {
    display: flex;
    align-items: center;
    color: aliceblue;
    padding: 20px;
    height: 5vh;
    background-color: red;
    border: none;
    border-radius: 10px;
}

.btn2:hover {
    cursor: pointer;
}

.minibox {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
}

.image {
    width: 40vw;
}

.container {}

.container-of-footer {
    background-color:rgb(49, 69, 132);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.pa1 {
    margin-top: 30px;
    /* color: white; */
}

.title-footer {
    color: rgb(226, 59, 78);
}

.box-list-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 400px;
    margin-bottom: 20px;
}

.link-list-f {
    font-size: 20px;
    color: white;
    text-decoration: none;

}
.box-icoun-fo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
